@font-face {
  font-family: 'iransans';
  src: url('assets/fonts/IRANSansX-Regular.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 20px;
}

body {
  color: '#000';
  background-color: #ddd;
  direction: rtl;
  font-family: 'iransans';
  transition: all 1s;
  user-select: none;
  background-image: url('assets/imgs/medical.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
  position: sticky;
  top: 0;
}

.header span {
  padding: 15px 0 0 20px;
}

.header ul {
  display: flex;
  list-style-type: none;
}

.header ul li {
  padding: 15px 20px;
  cursor: pointer;
}

.header ul li:hover {
  background-color: #ddd;
}

.wrapper {
  width: 60%;
}

#home .title div {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#home .title h1 {
  font-size: 2rem;
  font-weight: 500;
}

#home .title span {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  padding: 8px 15px;
  font-weight: bold;
}

#home .description {
  padding: 2rem 4rem 0;
  text-align: center;
  color: #333;
}

#home,
#treatments,
#services,
#connection {
  text-align: center;
  height: 100vh;
  padding-top: 12rem;
}

#treatments h3,
#services h3,
#connection h3 {
  font-size: 2rem;
  font-weight: 500;
}

#treatments ul,
#services ul {
  list-style-type: none;
  columns: 2;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

#treatments ul li {
  margin-top: 0.5rem;
}

#services {
  height: 88vh;
}

#connection {
  height: 120vh;
  padding-top: 5rem;
}

#connection h3 {
  padding-bottom: 1rem;
}

#connection div {
  font-size: 1.2rem;
  margin: 0 2rem;
  text-align: right;
}

#connection .title {
  font-weight: 600;
  padding-bottom: 0.5rem;
}

#connection .value {
  padding-right: 1rem;
  direction: ltr;
}

#map {
  height: 18rem;
  z-index: 1;
}

.call {
  width: 4rem;
  height: 4rem;
  position: sticky;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .header {
    font-size: 15px;
  }

  .header span {
    display: none;
  }

  .wrapper {
    width: 100%;
  }

  #home,
  #treatments,
  #services,
  #connection {
    padding-top: 5rem;
  }

  #treatments ul,
  #services ul {
    columns: 1;
  }

  .call {
    bottom: 1rem;
    right: 1rem;
  }
}
