@font-face {
  font-family: 'iransans';
  src: url('/assets/fonts/IRANSansX-Regular.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-size: 20px;
}

body {
  background-color: #ddd;
  direction: rtl;
  font-family: 'iransans';
  transition: all 1s;
  user-select: none;
  background-image: url('/assets/imgs/medical.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}

.header span {
  padding: 15px 0 0 20px;
}

.header ul {
  display: flex;
  list-style-type: none;
}

.header ul li {
  padding: 15px 20px;
  cursor: pointer;
}

.header ul li:hover {
  background-color: #ddd;
}

.wrapper {
  width: 60%;
}

.home {
  height: 100vh;
}

.home .title {
  color: '#000';
  padding: 12rem 10rem 0 0;
}

.home .title div {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.home .title h1 {
  font-size: 2rem;
  font-weight: 500;
}

.home .title span {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  padding: 8px 15px;
  font-weight: bold;
}

.description,
.services,
.connection {
  text-align: center;
  height: 100vh;
}

.description h3,
.services h3,
.connection h3 {
  font-size: 2rem;
  font-weight: 500;
}

.description ul,
.services ul {
  list-style-type: none;
  columns: 2;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.description ul li {
  margin-top: 0.5rem;
}

.connection div {
  padding-top: 1rem;
  font-size: 1.2rem;
}
