.treatments-bg-image {
  background-image: url('../../assets/imgs/fj-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  padding: 5rem 10rem 0;

  section {
    margin-bottom: 4rem;
  }

  h3 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    text-align: justify;
    color: #333;
    line-height: 200%;
  }

  a {
    color: blue;
    text-decoration: underline;
  }

  .image-container {
    position: relative;
    width: 100%;
    max-width: 400px;

    img {
      margin: 1rem 0 2rem;
      width: 100%;
      height: auto;
    }

    button {
      font-family: 'iransans';
      position: absolute;
      height: fit-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #c6e2e4;
      color: #666;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;

      &:hover {
        background-color: #a6c6c8;
      }
    }
  }

  ol,
  ul {
    padding: 0.5rem 2rem;
  }
}

.bottom-bar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
  position: sticky;
  bottom: 0;
  z-index: 99;
  padding: 15px 20px;
  font-size: 15px;
}

@media only screen and (max-width: 900px) {
  .content {
    padding: 2rem 1rem 0;
  }

  .bottom-bar {
    flex-direction: column;
  }
}
