@font-face {
  font-family: 'iransans';
  src: url('assets/fonts/IRANSansX-Regular.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  color: #000;
  direction: rtl;
  transition: all 1s;
}
