@font-face {
  font-family: 'iransans';
  src: url('assets/fonts/IRANSansX-Regular.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  color: #000;
  direction: rtl;
  font-family: 'iransans';
  transition: all 1s;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
  position: sticky;
  top: 0;
  z-index: 99;
  user-select: none;
}

nav span {
  padding: 15px 0 0 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding: 15px 20px;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #d8e2e4;
}

section {
  padding: 7rem 0;
}

.justify-center {
  text-align: justify;
  text-align-last: center;
}

.justify-right {
  text-align: justify;
  text-align-last: right;
}

.bg-image {
  background-image: url('assets/imgs/medical-preload.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  width: 50%;
  margin-right: 5rem;
  font-size: 1.2rem;
}

#treatments h3,
#description h3,
#services h3,
#connection h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

#treatments ul,
#services ul {
  text-align: center;
  list-style-type: none;
  columns: 2;
  margin-top: 2rem;
}

#treatments ul li,
#services ul li {
  margin-top: 0.5rem;
  color: #333;
}

#treatments ul li:first-child,
#services ul li:first-child {
  margin-top: 0;
}

#home {
  width: fit-content;
  margin: 0 auto;
}

#home .title p {
  margin-bottom: 20px;
  text-decoration: overline;
}

#home .title h1 {
  font-size: 3rem;
  font-weight: 500;
}

#home .title span {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  padding: 8px 15px;
  font-weight: bold;
}

#home .team {
  font-size: 1rem;
  padding-top: 2rem;
  color: #333;
}

#description div {
  color: #333;
  margin-top: 2rem;
  line-height: 200%;
}

#connection h3 {
  padding-bottom: 1rem;
}

#connection .title {
  font-weight: 600;
  padding-bottom: 0.5rem;
}

#connection .value {
  padding-right: 1rem;
  direction: ltr;
  font-size: 1rem;
}

#map {
  height: 18rem;
  z-index: 1;
}

.call {
  width: 4rem;
  height: 4rem;
  position: sticky;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 900px) {
  .content {
    margin-right: 0;
    padding: 0 1rem;
  }

  #home .title h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  nav {
    font-size: 15px;
  }

  nav span {
    display: none;
  }

  .content {
    width: 100%;
  }

  #treatments ul,
  #services ul {
    columns: 1;
  }

  #description div {
    font-size: 1rem;
  }

  .call {
    bottom: 1rem;
    right: 1rem;
  }
}

/* pre-load */
.pre-load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}

.pre-load svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.pre-load svg polyline#back {
  stroke: rgba(110, 172, 242, 0.3);
}

.pre-load svg polyline#front {
  stroke: #3ea9ff;
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  animation: dash 1s linear infinite;
}

@-moz-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-o-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
